<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings />
	<connectionStrings>
  <add name="sh_dentistConnectionString" connectionString="Server=localhost\sqlexpress;Database=sh_dentist;User ID=sh_dentist_admin;Password=2mf2mtsw"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
	<globalization culture="en-GB"/>
    <sessionState cookieless="UseCookies" timeout="300" />
    <httpCookies httpOnlyCookies="true" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
        <customErrors mode="Off" defaultRedirect="~/error.aspx">
            <error statusCode="403" redirect="~/error.aspx?error=403" />
            <error statusCode="404" redirect="~/error.aspx?error=404" />
        </customErrors>
        
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="customControl" tagName="header" src="~/controls/header.ascx" />
				<add tagPrefix="customControl" tagName="footer" src="~/controls/footer.ascx" />
			</controls>
		</pages>
    
		<!--
      <authorization>
        <deny users="?"/>
      </authorization>
      -->
      
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
        <httpRedirect enabled="false" destination="https://sjb-webserver" />
	</system.webServer>
</configuration>
